.card{
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent card */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display-weather{
    margin-top: 10px;
    position: absolute;
}
