.main {
  height: 100svh;
  background: rgb(210, 232, 227);
  background: linear-gradient(90deg, rgba(210, 232, 227, 1) 0%, rgba(61, 222, 209, 1) 38%, rgba(0, 255, 201, 1) 100%);
}

.heading {
  font-family: system-ui;
  text-align: center;
  margin-bottom: 5px;
}

.container .search-bar {
  display: grid;
  justify-content: center;
  margin-top: 26px;
}

.search-bar .input-group input {
  width: 34rem;
}

.dropDown .list-group .list-group-item:hover {
  background: #f1f0f0;
}

.dropDown .list-group .list-group-item {
  border: none;
}

.input-group-text {
  border-radius: 0;
}

.dropDown {
  max-height: 12rem;
  overflow: hidden;
  border: 1px solid #dee1e6;
}

@media screen and (max-width:650px) {
  .search-bar .input-group input {
    width: 19rem;
  }
}